layout {
    tab name="Shell" focus=true {
        pane
    }

    default_tab_template {
        children 
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center ""
                format_right  "#[fg=blue] {command_user} #[fg=red]{datetime}#[fg=red]"
                format_space  ""

                command_user_format   "#[fg=blue,bold,italic]{stdout}{stderr}"
                command_user_command  "bash -c \"whoami | tr '[:lower:]' '[:upper:]'\""
                command_user_interval "1"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[fg=green] {name}"
                mode_tmux    "#[fg=white] {name}"
                mode_pane    "#[fg=magenta] {name}"
                mode_default_to_mode "pane"
           
                tab_normal      "#[fg=green]#[fg=black,bg=green] {name} #[fg=green]"
                tab_active      "#[fg=yellow]#[fg=black,bg=yellow,italic,bold] {name} #[fg=yellow]"

                datetime        "#[bg=red,fg=black] 󱑎 {format} "
                datetime_format "%H:%M  󰸗 %a,%d/%m/%y"
                datetime_timezone "Europe/Madrid"
            }
        }
    }
}
